<!DOCTYPE html >

<html ng-app>
	<head>
		<title>Bagging Process</title>
		<link rel="stylesheet" type="text/css" href="js/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="js/lib/bootstrap/css/bootstrap-responsive.min.css">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script type="text/javascript" src="js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/lib/angular.min.js"></script>
		<style type="text/css">
		.show_td{
			background-color: white;
			z-index: 100000;
		}

		</style>
	</head>
	<body ng-controller="img_controller">
		<div class="container well">  
				<input type="text" ng-model="row">
				<input type="text" ng-model="col">
				<button class="btn btn-primary" ng-click="hide()">HIDE</button>
				<table style="background-image:url('batman.jpeg');" class="show table table-bordered">
				{{hello}}
					<tr ng-repeat="(key_r,row) in table.rows"  >
						<td class="span3 show_td" style="height:60px" ng-repeat="(key_c,col) in table.cols" id="{{key_r}}_{{key_c}}" >&nbsp;</td>
					</tr>
				</table>
		</div>
		<script type="text/javascript">
			function img_controller($scope){
				$scope.hello = "hello"
				rows = $scope.row;
				cols =8;
				$scope.table = {};
				$scope.table.rows=new Array(rows);
				$scope.table.cols=new Array(cols);
				$scope.hide=function(){

					row_n = Math.floor(Math.random() * (rows+1- 1 + 0)) + 0;
					col_n = Math.floor(Math.random() * (cols+1 - 1 + 0)) + 0;
					id= "#"+row_n+"_"+col_n;
					// id= "#"+$scope.row+"_"+$scope.col;
					angular.element(angular.element.find(id)[0]).removeClass("show_td");
				}
			}
		</script>
	</body>			
</html>		