<!doctype html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.min.css">
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	</head>
</head>
<body ng-controller="ctrl">
	<div class="well" ng-bind="hello"></div>
	<input type="text" ng-change="" ng-model="row">{{row}}

	<ul>
		<li ng-repeat="row in row_a">mani</li>
	</ul>
</body>
<script>
	'use strict';
	var app = angular.module('App',[])
	app.controller('ctrl',function($scope){
		$scope.hello="hello";
		$scope.row_a = new Array($scope.row);
	});
</script>
</html>
